body{
    /*background: -webkit-linear-gradient(360deg, #037474 10%, #0698b1 360%);*/
    background-image: url("bg1.jpeg");
}

.outer{
    position: relative;
    margin: 0 auto;
    top: 100px;
    width: 270px;
    height: 300px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    display: block;
    margin-top: 1.5em;
}

input{
    margin-top: 0.5em;
    padding: 0.7em;
    border: solid 1px rgb(179, 171, 171);
    width: 250px;
}

.label-age{
    position: relative;
    margin-top:2em;
} 

.inner-form{
    margin-top: 20px;
    position:relative;
}

button{
    position: relative;
    margin-top: 3.5em;
    margin-left: 4.5em;
    width:140px;
    /*height:30px; */
    border-radius: 0px;
    text-decoration: none;
    padding: 14px 21px;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.btn:hover,
input[type="submit"]:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn-white:hover{
    border:solid 2px #000;
    background: #000;
    color: #ffff !important;
    
}
.message{
    text-align: center;
    border-radius: 40px;
    position: relative;
    width: 400px;
    height: 140px;
    background: #f2f2f2;
    width: 60%;
    margin: 0 auto;
    padding: 25px 20px 25px;
    margin-top: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    visibility: hidden;
}